/* Footer */
.footer {
    margin-top: 5vh;
    padding: 1.2rem;
    background: var(--gruvbox-dark-bg1);
    color: var(--gruvbox-dark-fg2);
    font-size: 1.2rem;
    opacity: 0.8;
}

.footer a {
    color: var(--gruvbox-dark-fg);
    text-decoration: none;
    margin-left: 8px;
  }
  
  .footer a:hover {
    color: var(--gruvbox-yellow-bright);
  }
  