
/* Main Navbar Container */
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--gruvbox-dark-bg0);
    padding: 0.8rem 0;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    gap: 2rem;
    transition: background-color 0.3s;
}

/* Individual Navbar Links */
.navbar a {
    color: var(--gruvbox-yellow-soft);
    text-decoration: none;
    font-family: "FiraCode Nerd Font", monospace;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/* State: When hovering over a link */
.navbar a:hover {
    background-color: var(--hover-accent); /* Red background */
    color: var(--gruvbox-dark-fg0);
}

/* State: As a link is being clicked (from style.css) */
.navbar a:active {
    background-color: var(--gruvbox-orange);
}

/* State: For the link of the current page (added by navbar.js) */
.navbar a.active {
    background-color: var(--gruvbox-aqua); /* Green background */
    color: var(--gruvbox-dark-fg0);
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 1rem 0;
    }

    .navbar a {
        margin: 0.5rem 0;
    }
}